p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.rmdcaution,
.rmdimportant,
.rmdnote,
.rmdtip,
.rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("icons/caution.png");
}
.rmdimportant {
  background-image: url("icons/important.png");
}
.rmdnote {
  background-image: url("icons/note.png");
}
.rmdtip {
  background-image: url("icons/tip.png");
}
.rmdwarning {
  background-image: url("icons/warning.png");
}
