p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
  background: transparent;
  font-weight: bolder;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.rmdnote,
.rmdtip {
  padding: 1em 1em 1em 5em;
  margin-bottom: 10px;
  background: #c5dbf2 5px center/4em no-repeat;
}
.rmdimportant {
  padding: 1em 1em 1em 5em;
  margin-bottom: 10px;
  background: #fafaad 5px center/3em no-repeat;
  font-style: italic;
  border-style: solid;
  border-color: white;
  border-width: 1mm 3mm;
  border-top-width: 1mm;
  border-right-width: 3mm;
  border-bottom-width: 1mm;
  border-left-width: 3mm;
  box-sizing: border-box;
  float: outside;
  margin-outside: -75mm;
  text-align: inside;
  hyphens: manual;
  clear: outside;
}
.rmdcaution,
.rmdwarning {
  padding: 1em 1em 1em 5em;
  margin-bottom: 10px;
  background: #fbcfbd 5px center/4em no-repeat;
}
.rmdcaution {
  background-image: url("icons/caution.png");
}
.rmdimportant {
  background-image: url("icons/important.png");
}
.rmdnote {
  background-image: url("icons/note.png");
}
.rmdtip {
  background-image: url("icons/tip.png");
}
.rmdwarning {
  background-image: url("icons/warning.png");
}
